{% extends 'index.html' %}
{% block content %}
<div style=" width:100%; padding:20px; text-align:center; ">
    <h1>Python full stack development</h1>
    <p>3RI Technologies Diploma in Full Stack Developer is for anybody interested in a career as a Full Stack Developer in the software industry. This course in the classroom and online training includes all you need to know about Full-stack development and how to build applications. Our industry-experienced instructor will guide you through the curriculum, which covers everything from the fundamentals of backend and frontend technologies to advanced topics. Our industry-experienced trainer aims to assist anybody interested in pursuing a career as a full-stack developer. This course includes guaranteed placement assistance.</p>
</div>
{% endblock %}