{% extends 'index.html' %}
{% block content %}
{% load static %}

<div style=" width:100%; padding:20px; background-color:#071b66; color:white; display:flex; justify-content:center; align-item:center; ">
    <div style="width:50%; padding:20px;">
        <div style="display:flex">
            <div>
                <img src="{% static 'images/f8.png' %}" style="height:50px; width:50px;">
            </div>
            <div style="margin-left:10px">
                <h1>Mastering in Data Science</h1><br>
            </div>
        </div>
        <p style="width;50%; text-align:justify; font-size:20px;">3You will become an expert in Data Science after completing the online Data Science training at 3RI Technologies. We will work on several projects and case studies during the Data Science online course. Projects of this sort are what set our course apart from other courses. As you work on this project, you will have the opportunity to learn how a product is developed, deployed, and tested. You will learn the best practices that can help you achieve your desired job in the future.</p>
        <button class="btn " style="background-color:orange; color:white; padding-left:25px;padding-right:25px">Enroll now</button>
    </div>
    <div style="width:50%; text-align:center; margin:auto; ">
        <img src="{% static 'images/image8.jpg' %}" style="height:300px; width:450px">
    </div>
</div>
<div class="box2" style="font-size:20px; padding:15px; background-color: lightgray;  height:100%; width:100%; display: flex; justify-content: center; align-item: center;">
      <div style=" padding:30px; border-right:1px solid black; height:120px; display: flex; flex-direction:column;">
        <h1>1500+</h1>
        <p >Training Conducted</p>
      </div>
      <div style="padding:30px; border-right:1px solid black; height:120px; display: flex; flex-direction:column;">
        <h1 >400+</h1>
        <p >Hiring Partners</p>
      </div>
      <div style="padding:30px; height:120px; border-right:1px solid black; display: flex; flex-direction:column;">
        <h1>1600+</h1>
        <p >Students Placed</p>
      </div>
      <div style="padding:30px; height:120px; display: flex; flex-direction:column;">
        <h1>100%</h1>
        <p >Placement Support</p>
      </div>
</div>
<div style="background-color:#071b66; color:white; padding:20px;">
    <div style="margin-right:10%; margin-left:10%;">
        <h1>Key Features</h1>
    </div>
    <div>
        <div style="display: flex; justify-content:space-between; margin-right:10%; margin-left:10%;">
            <div style="display: flex; align-item:center;">
                <div>
                    <i class="fa-solid fa-calendar-days fa-xl" ></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">Course duration : 3.5 Months</h5>
                </div>
            </div>
            <div style="display: flex; align-item:center;">
                <div>
                    <i class="fa-solid fa-laptop-code fa-xl"></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">Real-Time Projects :2</h5>
                </div>
            </div>
            <div style="display: flex; align-item:center;">
                <div>
                    <i class="fa-solid fa-square-pen fa-xl"></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">Online Live Training</h5>
                </div>
            </div>
        </div>
        <div>
            <div style="display: flex; justify-content:space-between; margin-right:10%; margin-left:10%;">
                <div style="display: flex; align-item:center; margin-top:10px">
                <div>
                    <i class="fa-solid fa-calendar-days fa-xl" ></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">EMI option available</h5>
                </div>
            </div>
            <div style="display: flex; align-item:center; margin-top:10px">
                <div>
                    <i class="fa-solid fa-laptop-code fa-xl"></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">Certificate & Job Assurance</h5>
                </div>
            </div>
            <div style="display: flex; align-item:center; margin-top:10px; text-align:left">
                <div>
                    <i class="fa-solid fa-square-pen fa-xl"></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">24 x 7 Support</h5>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div style="font-size:25px;display:flex; flex-direction:column;padding:20px; margin-left:15%;margin-right:15%; ">
    <div style="text-align:center">
        <h1>Data science Online training Overview</h1>
    </div>
    <div style="text-align:justify; margin-left:15px;margin-right:15px;">
        <p>Data Science Course<br>
Today more and more companies are starting up their opportunities to data science, unlocking its potential and enhancing the value of a data scientist who knows how to ridicule actionable insights from gigabytes of data. And then it is also clear that there is tremendous value in data processing & analysis, and this implies more and more requirements for data scientists.</p>
        <p>Now, What is Data Science?<br>
Data science is a massive branch of field that uses scientific methods, methods, algorithms, and systems to derive knowledge and insights from structural and unstructured data. Data science is whole and sole about data mining, artificial intelligence, machine learning, big data, etc.</p>
        <p>3RI Technologies Data Science Online training gives you broad exposure to key concepts and tools from Python, R to Machine Learning, and more. Hands-on labs and project work bring these concepts to life with our instructors and training proficient's to guide you along the entire course. You will expertise yourself in all the tools and systems used by Data Science Professionals. This course includes training in Python, Statistics, Apache Spark & Scala, Tableau, and all the other renowned and related technologies.</p>
        <p>Our full-stack development course in Python is a complete spectrum that includes all the segments of front end development and back end development. Auxiliary concepts that help the developers coordinate their work effectively throughout the project accomplishment also included. The latter is the essential determinant of the efficacy of the entire development cycle and includes topics such as databases, networking, systems administration, and project management. Here are the topics covered in our full- stack Python course in Pune -
Python-the programming language and its development frameworks</p>
    </div>
</div>
{% endblock %}