{% extends 'index.html' %}
{% block content %}
{% load static %}
<div style=" width:100%; padding:20px; background-color:#071b66; color:white; display:flex; justify-content:center; align-item:center; ">
    <div style="width:50%; padding:20px;">
        <div style="display:flex">
            <div>
                <img src="{% static 'images/f8.png' %}" style="height:50px; width:50px;">
            </div>
            <div style="margin-left:10px">
                <h1>Python full stack development</h1><br>
            </div>
        </div>
        <p style="width;50%; text-align:justify; font-size:20px;">3RI Technologies Diploma in Full Stack Developer is for anybody interested in a career as a Full Stack Developer in the software industry. This course in the classroom and online training includes all you need to know about Full-stack development and how to build applications. Our industry-experienced instructor will guide you through the curriculum, which covers everything from the fundamentals of backend and frontend technologies to advanced topics. Our industry-experienced trainer aims to assist anybody interested in pursuing a career as a full-stack developer. This course includes guaranteed placement assistance.</p>
        <button class="btn " style="background-color:orange; color:white; padding-left:25px;padding-right:25px">Enroll now</button>
    </div>
    <div style="width:50%; text-align:center; margin:auto; ">
        <img src="{% static 'images/f9.png' %}" style="height:300px; width:450px">
    </div>
</div>
<div class="box2" style="font-size:20px; padding:15px; background-color: lightgray;  height:100%; width:100%; display: flex; justify-content: center; align-item: center;">
      <div style=" padding:30px; border-right:1px solid black; height:120px; display: flex; flex-direction:column;">
        <h1>1500+</h1>
        <p >Training Conducted</p>
      </div>
      <div style="padding:30px; border-right:1px solid black; height:120px; display: flex; flex-direction:column;">
        <h1 >400+</h1>
        <p >Hiring Partners</p>
      </div>
      <div style="padding:30px; height:120px; border-right:1px solid black; display: flex; flex-direction:column;">
        <h1>1600+</h1>
        <p >Students Placed</p>
      </div>
      <div style="padding:30px; height:120px; display: flex; flex-direction:column;">
        <h1>100%</h1>
        <p >Placement Support</p>
      </div>
</div>
<div style="background-color:#071b66; color:white; padding:20px;">
    <div style="margin-right:10%; margin-left:10%;">
        <h1>Key Features</h1>
    </div>
    <div>
        <div style="display: flex; justify-content:space-between; margin-right:10%; margin-left:10%;">
            <div style="display: flex; align-item:center;">
                <div>
                    <i class="fa-solid fa-calendar-days fa-xl" ></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">Course duration : 5 Months</h5>
                </div>
            </div>
            <div style="display: flex; align-item:center;">
                <div>
                    <i class="fa-solid fa-laptop-code fa-xl"></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">Real-Time Projects :2</h5>
                </div>
            </div>
            <div style="display: flex; align-item:center;">
                <div>
                    <i class="fa-solid fa-square-pen fa-xl"></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">Project based learning</h5>
                </div>
            </div>
        </div>
        <div>
            <div style="display: flex; justify-content:space-between; margin-right:10%; margin-left:10%;">
                <div style="display: flex; align-item:center; margin-top:10px">
                <div>
                    <i class="fa-solid fa-calendar-days fa-xl" ></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">EMI option available</h5>
                </div>
            </div>
            <div style="display: flex; align-item:center; margin-top:10px">
                <div>
                    <i class="fa-solid fa-laptop-code fa-xl"></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">Certificate & Job Assurance</h5>
                </div>
            </div>
            <div style="display: flex; align-item:center; margin-top:10px; text-align:left">
                <div>
                    <i class="fa-solid fa-square-pen fa-xl"></i>
                </div>
                <div>
                    <h5 style="margin-left:5px">24 x 7 Support</h5>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div style="font-size:25px;display:flex; flex-direction:column;padding:20px; margin-left:15%;margin-right:15%; ">
    <div style="text-align:center">
        <h1>Step in Python Full stack development</h1>
    </div>
    <div style="text-align:justify; margin-left:15px;margin-right:15px;">
        <p>3RI Technologies is one of the Best Training Institutes in Pune. Full Stack course is a bundle of technologies mostly used in the industry nowadays. The full stack developers are in too much demand in the current market scenario. 3RI has designed and developed the full stack course according to the industry standards. The full stack course designed by us is a job-oriented course which is a part of our well-renowned STEP - Software Training Employability Program. Full Stack course at 3RI comprises of the foundation course, core course, an advanced course, which consists of Python. This course also comprises of soft skills and aptitude sessions which helps them to crack interviews.</p>
        <p>A full-stack development course in Python allows you to compete well as a frontrunner for the job listings of age. Most such listings ask for a full stack developer who is well versed with Python and its frameworks so that desirable web experiences achieved for the users. On the other hand, the job of a full-stack developer is to design the website/app with such UI and program codes so that customized value produced without compromise. He is required to put in place the relevant technologies of the front end development. The Python coding sets in the background and make it all work seamlessly so that a glitch-free and immersive experience delivered to the users, who can be the commoners in the socio-economic system, the buyers, the business partners or the employees 'in house'.</p>
        <p>3RI is the leading institute offering full-stack training in Pune, and we adopt a holistic approach to ensure that candidates learn the concepts well while also acquire the applicative skills that are the most vital part of any 'full-stack' program.
Full-stack Python course at 3RI - An overview</p>
        <p>Our full-stack development course in Python is a complete spectrum that includes all the segments of front end development and back end development. Auxiliary concepts that help the developers coordinate their work effectively throughout the project accomplishment also included. The latter is the essential determinant of the efficacy of the entire development cycle and includes topics such as databases, networking, systems administration, and project management. Here are the topics covered in our full- stack Python course in Pune -
Python-the programming language and its development frameworks</p>
    </div>
</div>
{% endblock %}